.form {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
	label {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		margin: 20px 0;
	}
	button {
		display: block;
	}
	input, textarea {
		margin: 5px 0 0 0;
		padding: 8px;
		width: 100%;
		border: none;
	}
	.hidden {
		display: none;
	}

	@include bp1000 {
		max-width: 650px;
		margin: 0;
		label {
			flex-direction: row;
		}
		input, textarea {
			min-width: 50%;
			width: auto;
			margin-left: auto;
		}
	}
}