html {
	font-size: 62.5%;
}

body {
    position: relative;
    background: $blanc;
    color: $noir;
    font-size: 18px;
	min-height: 101vh;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
	font-family: sans-serif;
}