.main-content {

	ul, ol {
		font-size: 2rem;
		padding-left: 45px;
		line-height: 3rem;
		margin: 0 0 20px 0;
	}

	blockquote {
		padding-left: 30px;
		max-width: 700px;
		padding: 20px 20px 1px 30px;
		margin: 20px 0;
	}

}