@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------
Custom utilities
-------------------------- */

@responsive {

  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-45 {
    transform: rotate(45deg);
  }
  .rotate--45 {
    transform: rotate(-45deg);
  }

  .transition-fast {
  	transition: .3s;
  }
  
  .transform-x--100 {
  	transform: translateX(-100%);
  }
  .transform-x-0 {
  	transform: translateX(0);
  }

}


/* --------------------------
Base
-------------------------- */

body {
  font-family: "Cormorant SC";
  @apply bg-brown-standard text-lightgrey;
}


/* --------------------------
Logo
-------------------------- */

.logo {
  max-width: 30px;
  height: auto;
}

/* --------------------------
Navigation
-------------------------- */

.navigation-wrapper--is-active {
	@apply block transform-x-0;
}

.navigation-button {
	padding: 15px;
}

.navigation-button__lines {
	@apply block absolute top-0 w-1/2 bg-brown-dark opacity-100 transition-fast;
	height: 2px;
}

.navigation-button.is-active {
	@apply bg-white;
}

.navigation-button.is-active .navigation-button__line-1 {
	@apply rotate-45;
	margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-2 {
	@apply rotate--45;
	margin-top: 10px;
}

.navigation-button.is-active .navigation-button__line-3 {
	@apply hidden;
}

.navigation-button.is-active .navigation-button__line-4 {
	@apply hidden;
}

.navigation-button.is-active .navigation-button__line-5 {
	@apply rotate--45;
	margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-6 {
	@apply rotate-45;
	margin-top: 10px;
}