@tailwind base;
@tailwind components;
@tailwind utilities;

/* --------------------------
Custom utilities
-------------------------- */

@responsive {

  .rotate-0 {
    transform: rotate(0deg);
  }
  .rotate-45 {
    transform: rotate(45deg);
  }
  .rotate--45 {
    transform: rotate(-45deg);
  }

  .transition-fast {
  	transition: .3s;
  }
  
  .transform-x--100 {
  	transform: translateX(-100%);
  }
  .transform-x-0 {
  	transform: translateX(0);
  }

  .icons {
    width: 40px;
    height: auto;
    max-width: 40px;
    max-height: 40px;
    fill: #635d57;
    transition: .3s;
    border-radius: 50%;
    overflow: visible;
  }

  .icons:hover {
    transform: scale(1.2);
  }

}


/* --------------------------
Base
-------------------------- */

body {
  @apply bg-brown-standard text-brown-feint font-standard-font;
  min-height: 101vh;
}

h1, h2, h3, h4, h5 {
  @apply font-color-font leading-none relative;
}

h1:after {
  content: '';
  @apply block w-32 h-px bg-orange-400 absolute bottom-0;
}

h2:after {
  content: '';
  @apply block w-20 h-px bg-orange-400 -mb-1 absolute bottom-0;
}

a {
  transition: .3s;
}

/* --------------------------
Logo
-------------------------- */

.logo {
  max-width: 30px;
  height: auto;
}

/* --------------------------
Navigation
-------------------------- */

.navigation-wrapper {
  @apply font-color-font;
}

.navigation-wrapper--is-active {
	@apply block transform-x-0;
}

.navigation-button {
	padding: 15px;
}

.navigation-button__lines {
	@apply block absolute top-0 w-1/2 bg-brown-dark opacity-100 transition-fast;
	height: 2px;
}

.navigation-button.is-active {
	@apply bg-brown-feint;
}

.navigation-button.is-active .navigation-button__line-1 {
	@apply rotate-45;
	margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-2 {
	@apply rotate--45;
	margin-top: 10px;
}

.navigation-button.is-active .navigation-button__line-3 {
	@apply hidden;
}

.navigation-button.is-active .navigation-button__line-4 {
	@apply hidden;
}

.navigation-button.is-active .navigation-button__line-5 {
	@apply rotate--45;
	margin-top: 2px;
}

.navigation-button.is-active .navigation-button__line-6 {
	@apply rotate-45;
	margin-top: 10px;
}